/* @import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");

body {
  font-family: "Noto Sans", sans-serif;
} */

@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
  font-family: "Noto Sans", sans-serif;

  background-color: #f8edeb;
}

nav {
  font-family: "Viga", sans-serif;
}
