@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600;700&family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Viga&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega&display=swap");

:root {
  --bg-color: #f8f9fa;
  --nav-color: #e9ecef;
  --text-color-1: #8186ff;
  --text-color-2: #6167f3;
  --text-color-3: #3339c7;
  --bg-color-1: #e9edc9;
  --bg-color-2: #ffcdb2;
  --bg-color-3: #6d6875;
  --bg-color-4: #f1faee;
  --para-color-1: #738580;
  --heading4-color: #474440;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  --main-btn-shadow: 0 4px 40px rgba(99, 131, 246, 0.5);
  --nav-shadow: 0 4px 40px #e9ecef;
}

body {
  /* font-family: "Josefin Sans", sans-serif;
  font-family: "Noto Sans", sans-serif; */
  font-family: "Lexend Mega", sans-serif;

  /* background-color: #f8edeb; */
  /* background-color: #edc4b3; */
  /* background-color: var(--bg-color);
  background-image: url("./assets/transparent-desktop-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; */
  /* background-attachment: fixed; */
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
  letter-spacing: -3px;
  font-weight: 600;
}

h4 {
  font-size: 1.2rem;
  letter-spacing: -3.2px;
  color: var(--heading4-color);
}

h5 {
  font-size: 1rem;
  letter-spacing: -2px;
}

h6 {
  font-size: 0.8rem;
  letter-spacing: -2px;
}

p {
  color: var(--para-color-1);
  letter-spacing: -1.5px;
  line-height: 25px;
}

.main-btn {
  background-color: #6383f6;
  box-shadow: var(--main-btn-shadow);
  color: white;
}

nav {
  font-family: "Viga", sans-serif;
  background-color: var(--nav-color);
  box-shadow: var(--nav-shadow);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}

.nav-toggle {
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}

.nav-toggle:hover {
  color: var(--text-color-1);
  transform: rotate(90deg);
}

.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.show-container {
  height: 10rem;
}

.links a {
  color: var(--text-color-3);
  font-size: 1rem;
  letter-spacing: -0.5px;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);
}

.links a:hover {
  color: var(--bg-color-3);
  transition: var(--transition);
}

ul {
  padding: 0;
  margin: 0;
}

li {
  text-transform: uppercase;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:link {
  color: none;
  background-color: none;
  text-decoration: none;
}

a:hover {
  color: var(--heading4-color);
  /* background-color: var(--text-color-1); */
  text-decoration: underline;
  transition: var(--transition);
}

button > a:link {
  color: none;
  background-color: none;
  text-decoration: none;
}

button > a:hover {
  color: none;
  background-color: none;
  text-decoration: none;
}

/* Navbar */

.nav-list-items {
  font-size: 24px;
}

/* Hero Area */

/* .hero-img {
  width: 100%;
}

.hero-btn {
  position: absolute;
  top: 80%;
  left: 4%;
  width: 15%;
} */

.hero-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--text-color-1);

  border-radius: 20px;
  box-shadow: var(--light-shadow);
}

.hero-items-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1.5%;
}

/* .logo-container {
  background-color: red;
  display: flex;
  flex-direction: row;
  width: 100%;
} */

.gog-logo {
  width: 50px;
  height: 50px;
  box-shadow: var(--light-shadow);
}

.hero-para-text {
  font-size: 0.9rem;
  color: var(--ehad);
}

.phone-frame {
  padding: 0;
  margin: 0;
}

.showcase-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* About Me */

.about-container {
  background-color: #274472;
}

.cube-container {
  height: 305px;
}

.ellipse {
  position: relative;
  left: 300px;
  z-index: 1;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.rotate {
  animation: rotation 10s;
}

.linear {
  animation-timing-function: linear;
}

.infinite {
  animation-iteration-count: infinite;
}

.cube-one {
  right: 200px;
  z-index: 10;
}

.cube-two {
  bottom: 200px;
  left: 260px;
  z-index: 10;
}

/* .cube-two:hover {
  
} */

.cube-three {
  bottom: 180px;
  left: 200px;
  z-index: 10;
}

/* .quote-container {
  background-color: white;
  opacity: 0.1;
} */

/* About Game */
.before-frame,
.after-frame {
  width: 50%;
}

.hero-text {
  background-color: var(--text-color-2);
}

.avatar-img {
  width: 10%;
  height: 10%;
}

.game-screen-container {
  background-color: var(--bg-color-2);
}

.design-thinking-container {
  background-color: var(--bg-color-4);
}

.work-container {
  background-color: var(--text-color-2);
}

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }

  .links a {
    padding: 0;
    margin: 0 1.3rem;
  }
}

/* @media (max-width: 576px) {
  body {
    display: block;
    background-color: whitesmoke;
    background-image: url("./assets/phone-bg-img.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
} */

@media (max-width: 576px) {
  .main-btn {
    font-size: 12px;
  }
  p {
    font-size: 12px;
  }

  .hero-container {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    height: 70vh;
  }

  .hero-items-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
  }

  .phone-frame {
    visibility: hidden;
    width: 0;
    height: 0;
  }

  /* .hero-img-container {
    width: 100%;
    height: 200%;
  }

  .hero-img {
    width: 100%;
    height: 100%;
  } */

  .avatar-img {
    width: 20%;
    height: 20%;
  }
  .showcase-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  /* About Page */
  .cube-container {
  }

  .ellipse,
  .cube-two,
  .cube-three {
    visibility: hidden;
  }

  .cube-one {
    bottom: 120px !important;
    left: -10px;
  }

  .info-container {
    display: flex;
    flex-flow: column;
  }
}
