:root {
  --btn-transition: ease-in 0.5s;
  --text-color-3: #3339c7;
}

button {
  height: 50px;
  width: 50px;
  border: none;
  appearance: none;
  background: none;
}

.faHoverColor:hover {
  color: var(--text-color-3);
  transition: var(--btn-transition);
}

button.linkedin:hover {
  background-color: #0e76a8;
  transition: var(--btn-transition);
}

button.facebook:hover {
  background-color: #39569c;
  transition: var(--btn-transition);
}

button.dribbble:hover {
  background-color: #ea4c89;
  transition: var(--btn-transition);
}
